.calculator-single-field-label{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: stretch;
}

.calculator-single-field-label h3{
    font-weight: 600;
    font-size: 19px;
    color: #344054;
}

.calculator-field-label{
    margin: 0 0 5px 0;
    user-select: none;
}