.calculator-submit-button-wrapper{
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 35px;
}

.calculator-submit-button{
  display: flex;
  width: 100%;
  justify-content: center;
  height: auto;
  background-color: #1665D8;
  border-radius: 10px;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
}

.calculator-submit-button-text{
  padding: 18px 55px 18px 55px;
  color: #FFFFFF;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: 20px;
  transition: all 0.2s;
}

.calculator-submit-button:hover .calculator-submit-button-text{
  color: white;
  transition: all 0.2s;
}

.calculator-submit-button:hover{
  background-color: #0f3e8b;
  transition: all 0.2s;
}