.calculator-section-heading{
    display:inline-block;
    position:relative;
    margin-bottom: 35px;
    user-select: none;
}

.calculator-wrapper{
    margin-top: 55px;
    width: 835px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #ffffff;
}

.calculator-header{
    background-color: #2F3E83;
    color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.calculator-body{
    padding: 50px;
}

.calculator-header-text{
    padding: 15px 50px 15px 50px;
}



.calculator-body{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.calculator-body-snippet{
    width: 75%;
    text-align: center;
    align-self: center;
    color: gray;
    line-height: 20px;
}





