.calculator-single-field-label{
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    align-items: stretch;
}

.calculator-single-field-label h3{
    font-weight: 600;
    font-size: 19px;
    color: #344054;
}

.calculator-field-label{
    margin: 0 0 5px 0;
    user-select: none;
}

.split-text-field{
    display: grid;
    grid-template-columns: 0.65fr 0.35fr;
    grid-column-gap: 0;
    grid-row-gap: 0;
}

.split-text-field-classes-first{
    clip-path: inset(-5px 0px -5px -5px);
}

.split-text-field-classes-last{
    clip-path: inset(-5px -5px -5px 0px);
}

.split-text-field .css-1q6at85-MuiInputBase-root-MuiOutlinedInput-root{
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.split-text-field  .css-o9k5xi-MuiInputBase-root-MuiOutlinedInput-root{
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}