.calculator-results-wrapper{
    padding: 50px;
}

.calculator-results-section-heading{
    font-weight: 600;
    font-size: 22px;
    color: #344054;
}

.calculator-results-section-value{
    font-weight: 600;
    font-size: 24px;
    color: #344054;
}